div {
    padding: 0px;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100%;
   
}
.wraper{
    width: 100%;
    margin: auto;
    line-height: 30px;
    position: relative;
    background: #36168f;
  
    
    
}
.gambar{
    border-radius: 50%;
    position: absolute;
    height: 90px;
    left: calc(90% - 50px);
    

}
.logo {
    font-size: 20px;
    font-weight: 400px;
    font-family: courier;
    color: floralwhite;
    padding: 30px;
    position: relative;
    text-align: right;
    right: 200px;

}
.kolom{
    background: #36168f;
    padding: 0px 50px 0px 50px;
    border-radius: 20%;
    position:absolute;
    top: 150px;
    left: 5px ;
    height: 300px;
    
}

.data{
   position: static;
   top: 100px;
   font-size: 20px;
   font-style:normal;
   color: blanchedalmond;
   padding: 0px;
   line-height: 0px;
   text-align: center;
}
.elemen li{
    color: rgb(229, 234, 238);
    font-weight: bold;
    text-align: left;
    position: relative;
    padding-right: 200px;
    top: 10px;
    padding-top: 17px;
}

.biodata p {
   text-align: right;
   position: relative;
   color: rgb(229, 234, 238);
   font-weight: bold;
   padding-left: 200px;
   top: -170px;
   padding-top: -20px;
   
   
}

.hobi{
    background: transparent;
    position:absolute;
    top: 10px;
    margin: auto;
    height: 500px;
    left: 260px;
    margin: 300px;
    
   
}

.cover{
        background: transparent;
        margin: 30px;
        position: absolute;
        height: 100pt;
        width: 100px;
        display: flex;
        flex:content;
        right: 150px;
        top: 100px;
       
}
.tombol{
    background: #3E497A;
    border-radius: 20px ;
    margin-top: 30px;
    padding: 20px 100px 20px 100px;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    height: auto;
    top: 100px;
    text-align: center;
    left: 250px;
   
}
.tbl-biru {
    background: #3E497A;
    border-radius: 20px ;
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    height: 20px;
    top: 100px;
    text-align: center;
    padding: 20px;
       
}
.lengt{
background: transparent;
top: 70px;
height: 100px;
position: absolute; 
left: 540px;
flex-wrap: nowrap;



}

.bawah{
    width: 100%;
    margin: auto;
    line-height: 30px;
    position: relative;
    background: #36168f;
    top: 1000px;
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
    
    
   
}
   




